# baseline
albumentations
h5py
imageio
matplotlib
nibabel
nilearn
numpy
pydicom
scikit-image
scikit-learn
seaborn
tqdm

# data
kaggle  # Downloading datasets
nibabel
tqdm

# unet_zoo
git+https://github.com/wolny/pytorch-3dunet.git@1.5.1
scipy
tensorboard
torch

# development
git+https://github.com/miykael/gif_your_nifti.git
imageio
ipython  # For PyCharm debugging
mypy
pip-tools
pre-commit
pylint[spelling]
ruff
torchinfo  # Printing model summary
