# baseline
albumentations
h5py
imageio
matplotlib
nibabel
nilearn
numpy
pydicom
scikit-image
scikit-learn
seaborn

# data
kaggle  # Downloading datasets
nibabel

# unet_zoo
git+https://github.com/wolny/pytorch-3dunet.git@1.5.1
tensorboard
torch

# development
git+https://github.com/miykael/gif_your_nifti.git
imageio<2.28  # TODO: remove after https://github.com/miykael/gif_your_nifti/pull/13
ipython  # For PyCharm debugging
mypy
pip-tools
pre-commit
pylint[spelling]
torchinfo  # Printing model summary
